/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(8, 78%, 55%);
  --clr-primary-2: hsl(8, 73%, 58%);
  --clr-primary-3: hsl(8, 70%, 65%);
  --clr-primary-4: hsl(8, 70%, 73%);
  /* primary/main color */
  --clr-primary-5: hsl(8, 63%, 75%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(8, 50%, 76%);
  --clr-primary-7: hsl(9, 45%, 79%);
  --clr-primary-8: hsl(8, 35%, 84%);

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* Cart */

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  opacity: 0;
  z-index: -1;
}
.cart-overlay.show {
  opacity: 1;
  z-index: 100;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background: hsl(210, 36%, 96%);
  padding: 3rem 1.5rem 0 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: all 0.3s linear;
  transform: translateX(100%);
  overflow: scroll;
}
.show .cart {
  transform: translateX(0);
}

.cart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  left: 1rem;
}

.cart-close {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-1);
  cursor: pointer;
  transition: var(--transition);
}
.cart-close:hover,
.clear-cart:hover,
.cart-checkout:hover {
  transform: scale(1.05);
}

.clear-cart {
  width: 30%;
  font-size: 1.1rem;
  background: var(--clr-grey-7);
  border-color: transparent;
  color: var(--clr-grey-1);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: var(--radius);
}

.cart header {
  text-align: center;
}
.cart header h3 {
  font-weight: 500;
  color: var(--clr-grey-1);
}
.cart-total {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}
.cart-checkout {
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  background: var(--clr-grey-7);
  border-color: transparent;
  color: var(--clr-grey-1);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: var(--radius);
}

/* cart item */
.cart-item {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr auto;

  column-gap: 1.5rem;
  align-items: center;
}
.cart-item-img {
  width: 75px;
  height: 50px;
  object-fit: cover;
  border-radius: 0.25rem;
}
.cart-item-name {
  margin-bottom: 0.15rem;
  text-transform: capitalize;
}
.cart-item-price {
  margin-bottom: 0;
  font-size: 0.75rem;
  color: var(--clr-grey-1);
}
.cart-item-remove-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  cursor: pointer;
}
.cart-item-amount {
  margin-bottom: 0;
  text-align: center;
  color: var(--clr-grey-1);
  line-height: 1;
}

.amount-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amount-items p {
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 700;
}
.cart-item-increase-btn,
.cart-item-decrease-btn {
  border: 1px solid black;
  background: transparent;
  /* border-color: transparent; */
  color: var(--clr-red-dark);
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.25rem;
}

.cart-empty {
  text-align: center;
  font-size: 3rem;
  color: var(--clr-red-dark);
  margin-top: 10rem;
}
